[Unit]
Description=FTP Read and Extract License Plates

[Service]
ExecStart=/home/camera/dev/node-alpr/index.js
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/camera/dev/node-alpr

[Install]
WantedBy=multi-user.target